.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 20px;
    display: flex;
    align-items: center;
}

.settings__setting i {
    margin-right: 15px;
}

.settings__setting span {
    font-weight: 500;
}

.settings__setting span:nth-child(2) {
    margin-right: auto;
}

.settings__setting-data {
    opacity: 0.5;
}


.settings__setting__title {
    display: flex;
}

.new {
    font-size: 14px;
    background-color: tomato;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    align-items: center;
    margin-left: 10px;
}

.settings-list li:nth-child(3) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding-bottom: 40px;
}

#setting-screen {
    height: 100vh;
}